@charset "UTF-8";

#compass {
	margin: -150px 0 0 -22px;
	position: absolute;
	top: 50%;
	left: 50%;
}

#debug {
	width: 100%;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	background: #000000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #ffffff;
}